.main-layout {

  .nav-bar {
    position: fixed;
    top: 104px;
    left: 15px;

    .nav-bar-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 88vh;
    }

    .nav-bar-primary, .nav-bar-secondary{
      display: grid;
    }
    .btn {
      gap: 13px;
    }
  }

  &.dark {
    .btn {
      @include btn($type: dark);
    }
  }

  &.light {
    .btn {
      @include btn($type: light);
    }
  }

}
