.story-item {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    justify-self: start;
    width: 100%;

    .story-details {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

        .user-details {
            display: flex;
            align-items: center;

            .user-name {
                padding-left: 10px;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            .user-icon {
                width: 40px;
                height: 40px;
                background: linear-gradient(to right, #ed8034 0%,#ed8034 33%,#feb123 33%,#feb123);
                border-radius: 50%;
            }
        }

        &-img {
            max-width: 550px;
            max-height: 550px;
        }
    }
}

.story-details-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .primary-actions {
        display: flex;
        gap: 10px;
    }
}

.add-comment-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .btn-post {
        @include btn($type: blue);

        &:disabled {
            opacity: 0.5;
            cursor: unset;
            color: $blue;
        }
    }
}

.add-comment {
    background-color: inherit;
    border: none;
    @include text($type: regular);

    &:focus-visible {
        outline: none;
    }
}

.story-details-desc {
    display: flex;
    flex-direction: row;
    gap: 10px;
}




