.main-layout {


  &.dark {
    background-color: $dark1;
    color: $light1;

    .app-header {
      position: fixed;
      top: 30px;
      left: 30px;
      //margin: 20px 10px ;
      color: $light1;
    }
  }

  &.light {
    background-color: $light1;

    .app-header {
      position: fixed;
      top: 30px;
      left: 30px;
      //margin: 20px 10px ;
      color: $dark1;
    }
  }

  &.open {
    opacity: 0.5;
  }
}

.app-header {
  color: black;
}
