.story-modal {
  position: fixed;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);
  background: inherit;
  color: inherit;
  width: fit-content;
  max-width: 70%;
  justify-self: center;
  top: 20px;

  .user-comment-details {
    display: flex;
    gap: 5px;
    align-items: center;

    .user-icon {
      width: 40px;
      height: 40px;
      background: linear-gradient(to right, #ed8034 0%,#ed8034 33%,#feb123 33%,#feb123);
      border-radius: 50%;
    }

  }

  &-grid-container {
    display: grid;
    grid-template-columns: 1fr auto;
    height: 100%;
  }

  &-img {
    object-fit: contain;
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
    height: 100%;
  }

  .user-comments, .user-actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    margin: 20px;
    justify-content: space-between;
  }

  &-comments {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    margin-inline-start: 0;
  }

  .user-details {
    display: flex;
    gap: 10px;
    align-items: center;

    &.padding {
      padding-bottom: 17px;
    }

    .user-name {
      padding-left: 10px;
    }

    .user-icon {
      width: 40px;
      height: 40px;
      background: linear-gradient(to right, #ed8034 0%,#ed8034 33%,#feb123 33%,#feb123);
      border-radius: 50%;
    }
  }
}

.bottom-border {
  @include border($type: bottom);
}
