.main-layout {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    //grid-template-columns: $layoutPadding 1fr $layoutPadding;
    //grid-template-rows: $layoutPadding 80px 1fr $layoutPadding;

    >*.left {
        grid-column-start: 1;
    }

    >*.center {
        //grid-row-start: 2;
        grid-column-start: 2;
        grid-row-end: none;
    }

    >*.right {
        grid-column-start: 3;
    }
//
//@include for-narrow-layout {
//    @include layoutGTC($break-narrow);
//}
//
//@include for-normal-layout {
//    @include layoutGTC($break-normal);
//}
//
//@include for-wide-layout {
//    @include layoutGTC($break-wide);
//}

    .app-header {

        font-size: x-large;
        font-family: Cursive;
        text-decoration: none;
    }
}

.main-layout .full {
    grid-column: 1/-1;
}

.container {
    max-width: 800px;
    padding: 1em;
    margin: auto;
}
